/* Default styles for mobile devices */

/* SignIn Page Styles */
.signin__page__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.input__bar:focus {
  background-color: var(--color-dark-shade);
}

.forgot__pass {
  font-size: var(--fs-s);
  font-family: var(--ff-lato);
  color: var(--color-link);
  margin: 1rem 0 2rem;
}

.signin__btn {
  padding: 10px 12px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-weight: 700;
  font-family: var(--ff-mont);
  background-color: #605bff;
  color: var(--color-white);
  cursor: pointer;
}

.form__footer {
  text-align: center;
  color: var(--text-light-dark);
  font-family: var(--ff-lato);
  font-weight: 400;
  margin-top: 2rem;
}

.form__footer a {
  color: var(--color-link);
}

@media screen and (max-width: 881px) {
  .form__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
  }

  /* Text Main Div Styles */
  .text-main__div {
    color: var(--color-white);
    font-size: var(--fs-vl);
    line-height: var(--lh-vl);
    font-weight: 700;
    justify-content: center;
    margin: auto 0;
    background-color: #605bff;
    width: 100%;
    padding-left: 2rem;
  }

  .text-main {
    font-size: 3rem;
    font-weight:500;
    font:bolder;
   
  }
}

/* Media Query for Larger Screens */
@media screen and (min-width: 881px) {
  .signin__page__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(100deg, #605bff 45%, rgba(248, 250, 255, 1) 45%);
  }

  .form__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
  }

  .text-main__div {
    flex: 1;
    display: flex;
    color: var(--color-white);
    font-size: var(--fs-vl);

    align-items: center;
    justify-content: center;
  }
  .text-main {
    text-align: center;
    margin-left:-20rem;
    font-weight:500;
    
     
    }
  }

