/* ========SignIn-Page-Styles======== */
.signin__page__container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(100deg, #605BFF 45%, rgba(248, 250, 255, 1) 45%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}


.form__container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-left: -3vw;
    margin-top: 3vw;
}

#text-main {
    color: var(--color-white);
    font-size: var(--fs-vl);
    line-height: var(--lh-vl);
    font-weight: 700;
    justify-content: center;
    margin: auto 0;
}

/* Socials-Styles */
.socials__wrapper {
    margin-left: 9vw;
}

.socials__links {
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 3rem;
}

.socials__links li a {
    color: var(--color-white);
    font-size: var(--fs-icons);
    transition: color 0.3s ease; /* Add a smooth transition effect */

    /* Hover effect */
    &:hover {
        color: #adb1e1; /* Change to your desired hover color */
    }
}


/* ========SignIn-FormGroup-Styles======== */
.formgroup__container {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem 0rem;
    margin-left: 7rem;
}

.signin__with__buttons {
    display: flex;
    gap: 1.5rem;
    margin: 1rem 1rem;
    width: 96%;
}

.signin__with__buttons button:hover {
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
}

.btn__primary {
    background-color: var(--color-white);
    color: #605BFF;
    border: none;
    outline: none;
    padding: 7px;
    padding-right: 5px;
    font-size: var(--fs-xs);
    color: var(--text-light-dark);
    font-weight: 200;
    font-family: var(--ff-mont);
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1.2rem;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    &:hover {
        background-color: #605BFF;
        color: var(--color-white);
    }
}


.btn__primary::before {
    content: '';
    width: 10px;
    height: 25px;
    position: absolute;
    left: 14px;
}

.siginin__google,
.siginin__apple {
    display: flex;
    align-items: center;
}

/* Form-Styles */
.form__wrapper {
    width: 96%;
    max-width: 422px;
    padding: 2.5rem;
    background-color: var(--color-white);
    border-radius: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: 600;
    margin-bottom: 1rem;
    font-family: var(--ff-lato);
    font-size: var(--fs-s);
}

.input__bar {
    background-color: var(--color-light-dark);
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 43px;
    padding: 12px 16px;
    line-height: 19px;
    font-weight: 600;
    margin-bottom: 1.4rem;
}

.input__bar:focus {
    background-color: var(--color-dark-shade);
}

.forgot__pass {
    font-size: var(--fs-s);
    font-family: var(--ff-lato);
    color: var(--color-link);
    margin: 1rem 0 2rem;
}

.signin__btn {
    padding: 10px 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-weight: 700;
    font-family: var(--ff-mont);
    background-color: var(--color-blue);
    color: var(--color-white);
    cursor: pointer;
}

.form__footer {
    text-align: center;
    color: var(--text-light-dark);
    font-family: var(--ff-lato);
    font-weight: 400;
    margin-top: 2rem;
}

.form__footer a {
    color: var(--color-link);
}
.signin__btn{
    background-color: #605BFF;
 }
 .sign-button:hover {
     background-color: #483dff; 
 }
/* ============Media-Queries-For-Tablets============ */
@media screen and (max-width: 880px) {
    .signin__page__container {
        background: white;
        padding: 1rem;
    }
    .sign-button {
        background-color: #605BFF;
    }
    .sign-button:hover {
        background-color: #483dff; 
    }

    .form__container {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        row-gap: 2rem;
        flex-wrap: unset;
    }

    #text-main {
        margin-top:-4rem;
        margin-left: 1rem;
        background-color: #605BFF;
        width:100%;
        
    }
    .text-main{
       margin-left: 5rem;
       font-size: 4rem;
    }

    .socials__wrapper {
        margin-left: 47rem;
        align-self: center;
        align-items: center;
        width:100%;
        margin-top: -50rem;
        background-color:white;
        padding: 10px;
    }
    .socials__links li a {
        color: #888; }

    .formgroup__container {
        width: 100%;
        margin-left: 2px;
    }

    .signin__with__buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 1rem 0;
        width: 96%;
    }

    .btn__primary {
        width: 100%;
        min-width: 46%;
    }

    .form__wrapper {
        width: 100%;
    }

    .form__footer {
        color: black;
        gap: 2px;
    }

    .btn__primary {
        background-color: var(--color-white);
        border: none;
        outline: none;
        padding: 10px;
        padding-right: 5px;
        font-size: var(--fs-xs);
        color: var(--text-light-dark);
        font-weight: 300;
        font-family: var(--ff-mont);
        position: relative;
        padding-left: 2.5rem;
        border-radius: 1.2rem;
        cursor: pointer;
    }

    .btn__primary::before {
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        left: 10px;
    }
    .sign-h1{
        text-align: center;
    }
    .sign_to_ur_acc{
        text-align: center;
    }
    .siginin__google btn__primary{
        margin-left: 1.5rem;
    }
    .form__wrapper{
        margin-left: 1.5rem;
    }
}
/* Media Query for Small Screens */
@media screen and (max-width: 600px) {
    .signin__page__container {
        background: #f0f0f0; 
        padding: 1rem;
    }
    #text-main {
        margin-top:-4rem;
        margin-left: -1rem;
        background-color: #605BFF;
        width: 42rem;
        
    }

    .text-main{
       margin-left: 6rem;
       font-size: 3rem;
    }

    .socials__wrapper {
        margin-left: 7rem;
        align-self: center;
        align-items: center;
        width:100%;
        margin-top: -50rem;
        background-color: #f0f0f0;
        padding: 10px;
    }
    .socials__links li a {
        color: #888; 
    }
    .signin__btn{
       background-color: #605BFF;
    }
    .sign-button:hover {
        background-color: #483dff; 
    }
    .sign-h1{
        text-align: center;
    }
    .sign_to_ur_acc{
        text-align: center;
    }
    .siginin__google btn__primary{
        margin-left: 1.5rem;
    }
    .form__wrapper{
        margin-left: 1.5rem;
    }
}