

.uploader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.uploader-container h1 {
    position: absolute;
    top: 20px; 
    left: 25rem; 
    margin: 0;
    color: #333;
    font-size: large; 
}


.dropzone-container {
    margin-top: 8rem;
    align-items: center;
    margin-left: 65rem; 
    padding: 20px; 
    border: 2px dashed #605BFF;
    text-align: center;
    position: relative;
    background-color: #fff; 
    border-radius: 10px; 
    width: 50rem;
    height:30rem;
}

.dropzone-container p {
    margin-top: 1rem;
    font-size: 16px;
    color: #555;
}
.icon-csv {
    margin-top: 6rem;
}

.dropzone-buttons {
    margin-top: 7rem;
    margin-left: 14rem;
    display: flex;
    gap: 10px;
}

.button {
    padding: 10px 15px;
    border: 2px solid #605BFF;
    border-radius: 5px;
    background-color: #fff;
    color:#605BFF;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #605BFF;
    color: #fff;
}

.table-container {
    margin-top: 20px;
    margin-left: 50rem;
    overflow-x: auto;
  }
  
  .table-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }
  
  .responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .responsive-table th, .responsive-table td {
    padding: 8px; 
    text-align: left;
    border: 1px solid #ddd;
    font-size: 12px; 
  }
  
  .hidden-column {
    display: none;
  }
  